<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>
  </head>
  <body> 
    <%- include('templates/navbar.ejs') %>
    <div class="container">
      <div class="col-md-4 offset-md-4 mt-2">
        <div class="card p-2 animate__animated animate__fadeInDown" style="max-width: 18em;">
          <h5 class="rounded-1 p-1 text-center fw-bold bg-secondary"><%= image.title %></h5>
          <img
          src="<%= image.path %>"
          class="card-img-top"
          alt="<%= image.title %>"
          />
          <div class="card-body">
            <p class="card-text"><%= image.description %></p>
            <p class="card-text"><%= format(image.create_at) %></p>
          </div>
          <a href="/image/<%=image._id%>/delete" type="button" class="btn btn-outline-danger d-grid">Delete</a>
        </div>
      </div>
    </div>
  </body>
</html>
